<li>
    <div class="burgerord">
        <p class="burgername">{{burger_name}}</p>
        <br>
        <img src="/assets/img/burger.PNG" alt="no img">
        <br>
        <button class="change-devouer hide" data-id="{{id}}" data-newdevouer="{{devoured}}">
        </button>
    </div>
</li>